.App {
  text-align: center;
  align-content: center;
}

.box{
display: inline-block;
border: 1px solid black;
height: 100px;
width: 100px;
line-height: 80px;
}
.border{
  display:inline-flex;
  flex-wrap: wrap;
  width: 400px;
  margin-left: 50px;
}
.button{
  width: 100px;
  height: 100px;
  margin-top:  10px ;
  margin-left: 95px;
  
  }

  h2 {
    align-content: center;
  }
